<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        href="#perfil"
        aria-selected="true"
        role="tab"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Datos del paciente</font>
        </font>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-bs-toggle="tab"
        href="#resultado"
        aria-selected="false"
        tabindex="-1"
        role="tab"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Resultados</font>
        </font>
      </a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="perfil" role="tabpanel">
      <!-- Contenido del perfil -->
      <div class="profile-content">
        @if(loading) {
          <div class="loader">
            Espere mientras se cargan los datos del paciente
          </div>
        }
      </div>
      @if(!loading) {
        @for(client of clientById; track client.id) {
          <div class="card border-warning mb-3">
            <div class="card-header">{{client.name}} {{client.surname}}</div>
            <div class="card-body">
              <p class="card-text">DNI: {{client.socialsecuritynumber}}</p>
              <p class="card-text">Fecha de nacimiento: {{client.dateofbirth | dateFormat}}</p>
              <p class="card-text">Edad: {{client.age}}</p>
              <p class="card-text">Telefono: {{client.phone}}</p>
              <p class="card-text">Email: {{client.email}}</p>
              <p class="card-text">Direccion{{client.address}}</p>
              <p class="card-text">Localidad: {{client.location}}</p>
              <p class="card-text">Obra social: {{client.healthinsurance}}</p>
              <p class="card-text">Observaciones: {{client.observation}}</p>
              <p class="card-text">Turno: {{client.turno}}</p>
            </div>
          </div>
        }
      }
    </div>
    <div class="tab-pane fade" id="resultado" role="tabpanel">
      <!-- Contenido de resultados -->
      <div class="result-content">
        <input class="buscar" type="text" placeholder="Buscar..." />
        <button type="button">Aregar a lista</button>
        <table class="table">
          <thead>
            <tr>
              <th>Determinacion</th>
              <th>U.B</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <!-- Aquí van los datos de la tabla -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
