<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#perfil" aria-selected="true" role="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Perfil</font></font></a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#resultado" aria-selected="false" tabindex="-1" role="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Resultados</font></font></a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre y apellido: pablo cisera</font></font></p>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DNI: 32908989</font></font></p>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de nacimiento: 11/03/1987</font></font></p>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edad: 62</font></font></p>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefono: 3482271352</font></font></p>
  </div>
  <div class="tab-pane fade" id="resultado" role="tabpanel">
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Determinación</th>
          <th>U.B</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>600001</td>
          <td>anafaxilosa</td>
          <td>1.5</td>
          <td>15000</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>