:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 700px;
  max-width: 100%;
  margin-top: 100px;
}

.nav-tabs {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  display: flex;
  justify-content: center;
  z-index: 1000; /* Para asegurarse de que las pestañas estén por encima del contenido */
}

.nav-item {
  margin: 0 5px;
}

.tab-content {
  width: 100%;
  margin-top: 60px; /* Añadir espacio para compensar la altura de las pestañas */
  overflow-y: auto;
  height: calc(100vh - 160px); /* Ajustar la altura del contenido para que no se desborde */
}

.profile-content,
.result-content {
  width: 100%;
}

.card {
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */
}

.table {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.loader {
  text-align: center;
  margin-top: 50px;
}
