<div class="container">
  <input type="search" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()" placeholder="Buscar...">
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Determinación</th>
        <th>U.B</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <td>{{item.codigo}}</td>
        <td>{{item.determinacion}}</td>
        <td>{{item.unidadBase}}</td>
        <td>
          <button [routerLink]="['/#', item.id]">agregar a resultado</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="prevPage()">Anterior</button>
    <button (click)="nextPage()">Siguiente</button>
  </div>
</div>