<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text">
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input id="surname" formControlName="surname" type="text">
  </div>

  <div>
    <label for="ssn">Social Security Number:</label>
    <input id="ssn" formControlName="socialSecurityNumber" type="text">
  </div>

  <div>
    <label for="dob">Date of Birth:</label>
    <input id="dob" formControlName="dateOfbirth" type="date" (change)="onDateChange($event)">
  </div>

  <div>
    <label for="age">Age:</label>
    <input id="age" formControlName="age" type="text" [attr.disabled]="true">
  </div>

  <div>
    <label for="address">Address:</label>
    <input id="address" formControlName="address" type="text">
  </div>

  <div>
    <label for="location">Location:</label>
    <input id="location" formControlName="location" type="text">
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input id="phone" formControlName="phone" type="text">
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
  </div>

  <div>
    <label for="healthInsurance">Health Insurance:</label>
    <select id="healthInsurance" formControlName="healthInsurance">
      <option value="">SELECCIONAR</option>
      <option value="Iapos">Iapos</option>
      <option value="PAMI">PAMI</option>
      <option value="OSECAC">OSECAC</option>
      <option value="Otra">Otra</option>
      <!-- Agrega más opciones según sea necesario -->
    </select>
  </div>

  <div>
    <label for="observation">Observation:</label>
    <input id="observation" formControlName="observation" type="text">
  </div>

  <div>
    <label for="turno">Turno:</label>
    <input id="turno" formControlName="turno" type="text">
  </div>

  <div>
    <label for="formFile">Upload File:</label>
    <input id="formFile" type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx">
  </div>

  <button type="submit">Submit</button>
</form>
